---
import Layout from "../layouts/Layout.astro";
import { EDUCATION } from "../lib/constants";
---

<Layout title="Estudios">
  <div class="max-w-3xl xl:max-w-3xl mx-auto py-10">
    <div class="tree-wrapper relative md:w-[10px] min-h-[50vh] md:mx-auto">
      {
        EDUCATION.map((edu, index) => (
          <div
            id="timeline-line"
            class="flex md:flex-row flex-col md:items-center md:gap-2 group relative top-0 md:left-1/2 md:right-1/2 md:even:translate-x-[-100%] even:translate-x-0 md:w-max w-full z-[1] px-10"
          >
            <div
              data-aos="fade"
              data-aos-duration="1200"
              data-aos-delay={index % 2 === 0 ? "300" : "500"}
              class="timeline-item bg-[#FFFFFF] dark:text-white dark:bg-[#131313] border-[1px] dark:border-[#2c2c2c] border-[#E0E0E0] shadow-md pointer p-4 dark:bg-gra aspect-square w-[70px] flex items-center justify-center rounded-full md:group-even:order-2 group-even:order-none mx-auto md:mx-0 transition-colors duration-500 ease-in-out"
            >
              <div class="p-1 drop-shadow-2xl bg-gradient-to-bl  from-[#1c1c1c] via-neutral-800 to-[#272727] md:w-10 md:h-10 h-10 w-10 aspect-square rounded-full">
                <div class="rounded-full h-full w-full bg-slate-100 dark:bg-zinc-900 background-blur-md" />
              </div>
            </div>
            <div
              data-aos="fade"
              data-aos-duration="1200"
              data-aos-delay={index % 2 === 0 ? "300" : "500"}
              class="md:max-w-sm  p-7 my-3 dark:text-white overflow-hidden transition-colors duration-500 ease-in-out bg-[#FFFFFF] dark:bg-[#131313] border-[1px] dark:border-[#2c2c2c] border-[#E0E0E0] shadow-md rounded-xl"
            >
              <p class="course-title text-5xl font-semibold">{edu.name}</p>
              <p class="institution text-lg">{edu.location}</p>
              <p class="location text-lg">
                {edu.start} - {edu.end}
              </p>
              <a
                class="font-semibold text-lg underline hover:text-indigo-500 transition-colors duration-500 ease-in-out"
                target="_blank"
                href={edu.link}
              >
                Link
              </a>

            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  document.addEventListener("astro:page-load", () => {
    AOS.init();
  });
</script>
